#display-recipes {
  #recipe-list {
    margin: 1rem 0.25rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    h1 {
      text-align: left;
      text-transform: uppercase;
      font-family: "Oregano", cursive;
      color: #a15000;
      //padding: 0.25rem;
      margin: 0.25rem 0.5rem;
      width: 100%;
    }
    .recipe-link {
      width: 320px;
      //height: 500px;
      border-radius: 5px;
      background: white;
      margin: 0.5rem;
      padding-bottom: 1rem;
      display: flex;
      flex-direction: column;
      box-shadow: 0 2px 4px rgb(102, 102, 102);
      .recipe-icon-name {
        padding-left: 0.5rem;
        margin: 1.25rem 0;
        font-size: 1rem;
        text-transform: capitalize;

        font-weight: 600;
        text-align: left;
        color: #a15000;
      }
      .recipe-desc {
        font-size: 0.875rem;
        padding: 0 0.5rem;
        margin-bottom: 1rem;
        line-height: 1.25rem;
      }
      .infobar {
        display: flex;
        margin-top: auto;
        padding: 0.1rem;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        justify-content: center;
        .info-item {
          color: #d97d0d;
          font-size: 0.875rem;
          padding-right: 1.5rem;
        }
      }
      img {
        height: 180px;
        width: 320px;
        object-fit: cover;
        margin: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
    .recipe-link:hover,
    .recipe-link:active {
      transform: rotateZ(-2deg);
    }
  }
}
