body {
  background: whitesmoke;
  font-family: "Roboto", sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
}
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.app-header {
  padding: 0.5rem 1rem;
  //z-index: 2;
  .links {
    color: black;
  }
}
.app-logo {
  font-family: "Oregano", cursive;
  font-weight: 600;
}
.links {
  text-decoration: none;
  cursor: pointer;
}

.buttons {
  background: #323e40;
  color: whitesmoke;
  box-shadow: 1px 2px 3px rgb(83, 80, 80);
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 0.875rem;
  padding: 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  .links {
    color: whitesmoke;
    display: block;
  }
}

.buttons:hover {
  background: #5c696b;
}

.header {
  position: sticky;
  top: 0;

  background: #a15000;
  width: 100%;
  display: flex;
  //flex-direction: column;
  justify-content: space-between;
  z-index: 2;

  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    //padding: 0.1rem;
  }
}
.actionbar {
  //background: #bafabe;
  background: #ffad46;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0.5rem;

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
    .searchbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .infobar {
    display: flex;
    justify-content: space-evenly;
    padding: 0.25rem;

    .info-item {
      color: #323e40;
      font-size: 1.2rem;
      padding: 0.5rem;
      margin: 0.5rem;
      font-weight: 600;
      border-radius: 10px;
    }
  }
}
input {
  font-size: 0.875rem;
  margin: 0.25rem;
  border-radius: 5px;
  border: none;
  width: 300px;
  padding: 0.5rem;
}
.togglebar {
  display: flex;
  justify-content: space-evenly;

  padding: 0.5em 0.5em 0 0.5em;
  margin: 1em 1em 0 1em;

  .nav-link {
    border-bottom: 4px solid #a6bdc0;
    font-size: 1.5rem;
    height: 2rem;
    width: 50%;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
  }
  .nav-link:hover,
  .active-link,
  .active-display {
    border-bottom: 4px solid #323e40;
  }
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: black;
  font-weight: 600;
  padding: 0.5rem;
  background: white;
  font-size: 0.875rem;
}
